<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card text-center Banner">
          <div class="card-body">
            <h1 class="card-title">Teaching What You Don't Know</h1>
          </div>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <img
              src="https://www.pngall.com/wp-content/uploads/2016/04/Education-Free-PNG-Image.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "BannerComp",
};
</script>
<style scoped>
/* .card {
  background: linear-gradient(101.08deg, #343a40 -2.12%, #343a40 67.45%);
  color: white;
  border: 0px #343a40;
 
} */
.Banner {
  color:#ED712E;;
  border: 0px white;
}
.card{
  border: 0px white;
}
</style>
